/* space at the top */
body { 
    background-color: #191A1d;
    margin: 0px;
    
}
/* nav bar */
.navigation-wrapper > .left-column {
    color:white;
    
}

.navigation-wrapper {
    height: 65px;
    background-color: black;
    /* flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px 0px -20px 0px;
    
}

/* left-column */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
    margin: none;
}

    /* image */
    .navigation-wrapper > .left-column > .codepen-logo img {
       width: 135px;
       height: 25px; 
    }

/*center-column */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 325px;
    margin: 0px;
}

.navigation-wrapper > .center-column > .text {
    display: grid;
    justify-content: left;
    grid-gap: 10px;
    margin: 0px;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* right-column */
.right-column > .btn-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}


    /* icons */

    .navigation-wrapper > .right-column > .btn-wrapper > .btn > .icon {
        color: #47cf73;
    }

    .navigation-wrapper > .right-column > .btn-wrapper > .icon {
        color: #7B7E8C;
    }

/* Buttons */


/* Fonts */
.navigation-wrapper > .left-column {
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
}

.navigation-wrapper > .center-column {
    font-family: 'Martel Sans', sans-serif;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-link a {
    color: white;
    font-size: 
}

.navigation-wrapper > .center-column > .links-wrapper > .spark-link > .nav-link a {
    color: #7B7E8C;
}

.navigation-wrapper > .center-column > .text {
    color: #f4e17f;
    font-size: 14px;
}

/*Center-page*/
.center-page {
    font-family: 'Lato', sans-serif;
    color: white;
}

.center-page > .text {
    margin: 0px 0px 0px 40px;
}

.center-page > .text > .headline > h1 {
    font-weight: 90;
    font-size: 30px;
    margin: 0px 0px;
}

.center-page > .text > .under-headline-text {
    font-size: 18px;
    color: #B3B3B3;
}

.center-page {
    height: 377px;
    background-color: #36383f;
    box-shadow: inset -210px -143px 87px -13px rgba(25,26,29,1);
}

/* codepenfor */

.codepenfor {
    height: 65px;
    background-color: white;
}

/* spacers */
.spacer40 {
    height: 40px;
    width: 100%;
}