/* space at the top */
body { 
    background-color: #191A1d;
    margin: 0px;
    box-sizing: border-box;
}



/* Buttons */
.center-gradient > .center-page > .left-column > .center-btns > .green-btn {
    padding: 12px 15px;
    font-size: 22px;
    color: black;
    background-color: #47cf73;
    border: none;
    margin: 0px 10px 0px 0px;
}

.center-gradient > .center-page> .left-column > .center-btns > .black-btn {
    padding: 12px 15px;
    font-size: 22px;
    color: white;
    background-color: black;
    border: none;
    margin: 0px 10px 0px 0px;
}

/*Center-page*/
.center-gradient {
    display:grid;
    width: 1fr;
    align-content: center;
}

.center-gradient {
    display: flex;
    align-content: center;
    
}

.center-gradient > .center-page {
    justify-content: left;
    width: 100%;
    min-width: 366.781px;
}

.center-gradient > .right-column {
    justify-content: right;
    width: 587.672px;
}

.center-gradient > .center-page > .left-column> .text > .center-btns {
    margin: 0px 0px 0px 40px;
}
 

.center-gradient {
    height: 377px;
    width:100%;
    background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #36383f 30%, #000000 140%);

}



    /* image-right */
.center-gradient > .right-column > .image-right > .image img {
    height: 500px;
    width: auto;
    margin: none;
    padding: none;
}

    /* box */



/* codepenfor */

.codepenfor {
    height: 65px;
    background-color: white;
    margin: 0px 0px;
    padding: none;
}

.codepenfor > p {
margin: none;
padding: none;
}

.codepenfor > .codepenforbtns > .btn {
    height: 27px;
    width: 165px;
    font-size: 15px;
    margin: none;
    color: white;
    background-color: #36383f;
    padding: 6.500px 13px;
    border: 1px;
    border-color: #676767;
}

